#green_button {
    -fx-alignment: center;
    -fx-background-color:
            #99ccff,
            linear-gradient(#99ff99 0%, #e6ffe6 20%, #00b300 100%),
            linear-gradient(#99ff99, #00b300),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-border-color: black;
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#red_button {
    -fx-alignment: center;
    -fx-background-color:
            #99ccff,
            linear-gradient(#ffc2b3 0%, #ffd6cc 20%, #cc2900 100%),
            linear-gradient(#ffc2b3, #cc2900),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-border-color: black;
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#yellow_button {
    -fx-alignment: center;
    -fx-background-color:
            #fff0b3,
            linear-gradient(#ffc2b3 0%, #ffd6cc 20%, #cc2900 100%),
            linear-gradient(#fff0b3, #cc2900),
            radial-gradient(center 50% 0%, radius 100%, rgba(255, 153, 102,0.9), rgba(255,255,255,0));
    -fx-border-color: black;
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}